# .gitignore for FastAPI projects

# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment variables
.env

# Dependency directories
.venv/
env/

# Editor-specific files
.vscode/
.idea/

# Miscellaneous
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.bak
*.swp
